/* BASIC STYLES HERE */
:root {
    --marinara: #D52B3B;
    --cheddar: #F98F4B;
    --basil: #6CA27A;
}

p {
    margin: 0;
}

.marinara-bg {
    background-color: var(--marinara);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.basil-glass {
    background: rgba(108, 162, 122, 0.7);
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    filter: blur(1.5px);
}

.img-style {
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.post-style {
    height: 12rem;
    width: 15rem;
    object-fit: cover;
    border-radius: 20px;
}

.edited {
    color: gray;
    font-size: 12;
}

.category {
    font-size: 13px;
}

/* SECTION Pseudo Classes */
.basil-glass:hover {
    filter: none;
}